
body{
    height: 100vh;
    margin:0;
    background-color: #242933;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #2F3644;
    height: 95vh;
    width: 500px;
    border-radius: 10px;
}

h1{
    color: #B1BFE8;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin:0;
    margin-top: 0%;
}

.formulario{
    height: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    box-sizing: border-box;
}
label{
    color:#78819F;
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
}

input{
    font-size: 90;
    text-indent: 5px;
    margin-top: 5px;
    width: 100%;
    border-radius: 4px;
    height: 55px;
    padding: 0;
    
}


.green{
    border-style: solid;
    border-color:  #4ECA64;
    background: url(images/success-icon.svg) no-repeat scroll 98% 50%;
    background-color: #fff;
}

.red{
    border-style: solid;
    border-color:  #DB5A5A;
    background: url(images/error-icon.svg) no-repeat scroll 98% 50%;
    background-color: #fff;
}

button{
    width: 100%;
    border-radius: 4px;
    height: 55px;
    background: #6C63FF;
    color: #fff;
    font-weight: bold;
    padding:0;
}

p{
    position:fixed;
    color:#DB5A5A;
    font-weight: bold;
    font-size: x-small;
    font-family: 'Roboto', sans-serif;
}
